.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background: rgb(120, 101, 83);
    background: linear-gradient(90deg, rgba(120, 101, 83, 1) 0%, rgba(193, 195, 139, 1) 100%, rgba(163, 168, 119, 1) 100%);
}

.grass {
    background: rgb(91, 154, 78);
    background: linear-gradient(90deg, rgba(91, 154, 78, 1) 0%, rgb(53, 179, 8) 99%);
}

.fire {
    background: rgb(189, 45, 34);
    background: linear-gradient(90deg, rgba(189, 45, 34, 1) 0%, rgba(232, 170, 5, 1) 99%);
}

.water {
    background: rgb(34, 59, 189);
    background: linear-gradient(90deg, rgba(34, 59, 189, 1) 0%, rgb(11, 165, 144) 99%);
}

.electric {
    background: rgb(189, 168, 34);
    background: linear-gradient(90deg, rgba(189, 168, 34, 1) 0%, rgb(207, 218, 63) 99%);
}

.ice {
    background: rgb(34, 189, 189);
    background: linear-gradient(90deg, rgba(34, 189, 189, 1) 0%, rgba(231, 255, 254, 1) 100%);
}

.ground {
    background: rgb(77, 24, 3);
    background: linear-gradient(90deg, rgba(77, 24, 3, 1) 0%, rgba(158, 107, 0, 1) 100%);
}

.flying {
    background: rgb(76, 3, 77);
    background: linear-gradient(90deg, rgba(76, 3, 77, 1) 0%, rgba(113, 0, 255, 1) 100%);
}

.poison {
    background: rgb(91, 32, 92);
    background: linear-gradient(90deg, rgba(91, 32, 92, 1) 0%, rgba(255, 0, 221, 1) 100%);
}

.fighting {
    background: rgb(153, 33, 33);
    background: linear-gradient(90deg, rgba(153, 33, 33, 1) 0%, rgba(255, 130, 0, 1) 100%);
}

.psychic {
    background: rgb(88, 18, 98);
    background: linear-gradient(90deg, rgba(88, 18, 98, 1) 0%, rgb(212, 7, 86) 100%);
}

.dark {
    background: rgb(28, 20, 29);
    background: linear-gradient(90deg, rgba(28, 20, 29, 1) 0%, rgba(111, 57, 0, 1) 100%);
}

.rock {
    background: rgb(144, 132, 91);
    background: linear-gradient(90deg, rgba(144, 132, 91, 1) 0%, rgba(187, 160, 130, 1) 100%);
}

.bug {
    background: rgb(107, 115, 20);
    background: linear-gradient(90deg, rgba(107, 115, 20, 1) 0%, rgb(119, 165, 41) 100%);
}

.ghost {
    background: rgb(72, 68, 74);
    background: linear-gradient(90deg, rgba(72, 68, 74, 1) 0%, rgba(182, 131, 200, 1) 100%);
}

.steel {
    background: rgb(38, 38, 38);
    background: linear-gradient(90deg, rgba(38, 38, 38, 1) 0%, rgb(146, 146, 146) 100%);
}

.dragon {
    background: rgb(168, 167, 170);
    background: linear-gradient(90deg, rgba(168, 167, 170, 1) 0%, rgba(115, 0, 250, 1) 100%);
}

.fairy {
    background: rgb(247, 186, 224);
    background: linear-gradient(90deg, rgb(175, 148, 161) 0%, rgba(255, 175, 255, 1) 100%);
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}



.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    size: 3rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}